<div class="pagination">

    <% if(typeof totalPages !== undefined ){ if(totalPages !== dataToShow/taskPerReq) { %>

        <a href="/?page=<%=(dataToShow/taskPerReq)+1%>"class="page">Show more</a>

   <% }else { %>

        <a href="/?page=<%=(dataToShow/taskPerReq)-1%>"class="page">Show less</a>

    
    <% }} %>
</div>