<div class="sort-links">
    <a href ="/?page=<%=(dataToShow/taskPerReq)%>&&sorted=-1" class="sort" >Sort by date</a>
    <a href ="/?page=<%=(dataToShow/taskPerReq)%>&&sorted=1" class="sort" >Sort by name</a>
   
</div>