* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  /* background: #b4d2d4; */
  background: #4b5055;
  background-image: url("https://www.transparenttextures.com/patterns/asfalt-dark.png");
  font-family: "Roboto", sans-serif;
}
.todo-container {
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 20px;
  width: 90%;
  transform: translate(-50%, -50%);
  /* background: rgba(94, 121, 136, 0.1); */
  background: rgba(17, 18, 19, 0.1);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.todo-heading {
  padding: 10px;
  font-size: 2em;
}

.todo {
  width: 80%;
}

.todo-input {
  width: 80%;
  border: none;
  border-radius: 25px;
  height: 35px;
  margin-bottom: 10px;
  font-size: 15px;
  font-weight: 300;
  box-shadow: 0 2px 6px rgba(0,0,0,0.3);
  padding: 0 11px 0 13px;
  outline: none;
  border: 1px solid transparent;
  
}

.sub-btn {
  color: white;
  border: none;
  border-radius: 25px;
  outline: none;
  border:none;
  cursor: pointer;
  padding: 5px;
  /* background-color: rgb(94, 142, 182); */
  background-color: rgb(0, 0, 0);
  margin: 0.25px;
  height: 40px;
  width: 40px;
}
.sub-btn:hover{
  opacity: 0.7;
}
.fas {
  font-size: 18px;
  padding: 5px;
}

.todo-list {
  list-style: none;
  /* width: 95%; */
}

.sort {
  text-decoration: none;
  font-weight: 600;
  color: black;
  padding: 5px;
  
}

.sort:hover {
  background: rgba(0, 0, 0, 0.3);
  border-radius: 5px;
}

.pagination {
  padding: 10px;
}

.page {
  text-decoration: none;
  font-weight: 600;
  color: black;
  padding: 5px;
}

.page:hover {
  background: rgba(0, 0, 0, 0.3);
  border-radius: 5px;
}

.todo-list-item {
  padding: 10px;
  margin-top: 10px;
  border: none;
  border-radius: 5px;
  /* background: rgba(0, 0, 0, 0.3); */
  background: none;
  display: flex;
  flex-direction: row;
  width: 100%;
}

.todo-list-item div {
  flex-grow: 2;
  padding: 3px;
  border-bottom: 2px solid #fff;
  font-weight: 600;
  font-size: 18px;
}

.todo-list-item input {
  flex-grow: 2; 
   border: none;
  border-radius: 25px;
  padding: 5px;
  font-size: 16px;
}
.todo-list-item button {
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: rgb(48, 204, 95);
}

.todo-list-item .cancel {
  color: white;
  text-decoration: none;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  padding: 5px;
  background-color: rgb(223, 43, 43);
}

.todo-list-item .edit {
  color:  rgb(48, 204, 95);
  cursor: pointer;
  text-decoration: none;
  
}
.todo-list-item .remove {
  color: rgb(223, 43, 43);
  cursor: pointer;
  text-decoration: none;
  
}

@media screen and (min-width: 1024px) {
  .todo-container {
    width: 40%;
  }
}
